/target
/srv-das
/mvn-hibernate-plugin
/db-schema
/.settings
/.classpath
/.project
/.settings
!/srv-das/
!/db-schema/
!/mvn-hibernate-plugin/
/db-schema/nbactions.xml
/migration-tool/target/
/db-schema/nbactions-qa.xml
/mvn-hibernate-plugin/spy.log
/db-schema/spy.log
/migration-tool/spy.log
/web-rest/nbactions.xml
/web-admin/nbactions.xml
/remote-synchronization/target/
/srv-synchronization/target/
/srv-solr/target/