<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>

	<!-- APPENDERS -->
	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="|%d{ISO8601}|%p|%C{1}|%X{sessionID}|%m|%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="DEBUG" />
			<param name="LevelMax" value="FATAL" />
		</filter>
	</appender>

    <!-- JBEHAVE -->
    <logger name="org.jbehave.business">
        <level value="info" />
    </logger>

	<!-- SQL LOGGING -->
	<logger name="org.hibernate.SQL" additivity="false">
		<level value="INFO" />
	</logger>

	<logger name="org.hibernate.type">
		<level value="INFO" />
	</logger>

	<!-- DEFAULT LOGGING LEVEL -->
	<root>
		<level value="INFO" />
		<appender-ref ref="STDOUT" />
	</root>

</log4j:configuration>